/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Post/MarkdownViewer/MarkdownViewer.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MarkdownViewer_markdown__VX352 {
  font-family: "Noto Sans";
}
.MarkdownViewer_markdown__VX352 .MarkdownViewer_image__ZEedT {
  width: 100%;
  height: 350px;
  border-radius: 12px;
}
.MarkdownViewer_markdown__VX352 h2 {
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 8px;
  border-bottom: 3px solid darkblue;
}
.MarkdownViewer_markdown__VX352 .MarkdownViewer_h2__UqRMW {
  width: 5px;
  height: 5px;
  border: 1px solid black;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/posts/[postPage]/[categorizedPostPage]/slug.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.slug_categorized_post_page__ib_VH {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slug_categorized_post_page__ib_VH .slug_img_container__gBKit {
  position: relative;
  width: 100%;
  height: 50vh;
}
.slug_categorized_post_page__ib_VH .slug_img_container__gBKit .slug_bg_cover__TsrL7 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.6);
}
.slug_categorized_post_page__ib_VH .slug_img_container__gBKit .slug_bg_cover__TsrL7 .slug_bg_cover_title__bEddx {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.slug_categorized_post_page__ib_VH .slug_img_container__gBKit .slug_bg_cover__TsrL7 .slug_bg_cover_title__bEddx > p {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.slug_categorized_post_page__ib_VH .slug_img_container__gBKit .slug_bg_cover__TsrL7 .slug_category__ZqZ2O {
  font-size: 18px;
  color: white;
  border: 1px solid white;
  padding: 3px 6px;
  border-radius: 8px;
}
.slug_categorized_post_page__ib_VH .slug_img_container__gBKit .slug_bg_cover__TsrL7 .slug_bg_cover_date__18kkD {
  display: flex;
  align-items: center;
  gap: 15px;
}
.slug_categorized_post_page__ib_VH .slug_img_container__gBKit .slug_bg_cover__TsrL7 .slug_bg_cover_date__18kkD .slug_date__Cx0Vm {
  font-size: 16px;
  color: white;
}
.slug_categorized_post_page__ib_VH .slug_img_container__gBKit .slug_bg_img__c8afI {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slug_categorized_post_page__ib_VH .slug_content_container__92knb {
  width: 860px;
  margin-top: 200px;
  margin-bottom: 120px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Waves/Waves.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Waves_header__20ixi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: transparent;
}
.Waves_header__20ixi .Waves_waves__EV7gH {
  position: relative;
  width: 100%;
  height: 1vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}
.Waves_header__20ixi use {
  animation: Waves_move_forever__ZwCcM 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.Waves_header__20ixi use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.Waves_header__20ixi use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.Waves_header__20ixi use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.Waves_header__20ixi use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes Waves_move_forever__ZwCcM {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
