@use "../../../app/base.scss";

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  .title {
    margin: 0;
    font-size: 36px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 30px;
    justify-content: center;
    width: 100%;

    .flip_card {
      width: 200px;
      height: 200px;
      border-radius: 24px;
      perspective: 1000px;
      color: black;

      .flip_card_box {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;

        .card_front,
        .card_back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
          border-radius: 24px;
          cursor: pointer;
        }

        .card_front {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
        }

        .card_back {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: rgba(0, 0, 0, 0.7);
          transform: rotateY(180deg);
        }

        .rank {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 15px;
          margin-top: 10px;
          font-size: 10px;
          border-radius: 12px;
        }
      }
    }

    .flip_card:hover .flip_card_box {
      transform: rotateY(180deg);
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    h5,
    h6 {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1515px) {
  .categories {
    width: 100%;
  }
}
