.open_sources {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 60px;

  .source_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    gap: 30px;
  }
}
