.intro_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(212, 212, 212, 0.7);
  border-radius: 12px;
  margin-bottom: 15px;

  h2 {
    font-size: 25px;
    margin: 15px 0;
  }

  p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    font-size: 14px;
  }
}

.skills {
  padding-bottom: 15px;
}
