.post_card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 450px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  transition: transform ease-in-out 0.2s;

  .img {
    width: 350px;
    height: 220px;
  }

  .contents_container {
    width: 300px;
    margin-top: 16px;

    .category {
      font-size: 16px;
      margin-bottom: 12px;
    }

    .title {
      margin: 0;
      margin-bottom: 16px;
      font-size: 24px;
    }

    .description {
      height: 80px;
      margin: 0;
      margin-bottom: 12px;
      font-size: 14px;
      color: darkgray;
    }
  }
}

.post_card:hover {
  transform: scale(1.01);
}
