/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/about/[postPage]/page.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_section__gW6T3 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.page_section__gW6T3 .page_post_container__jB3HW {
  width: 850px;
  padding-top: 200px;
}
.page_section__gW6T3 .page_post_container__jB3HW .page_title_container__YjA46 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}
.page_section__gW6T3 .page_post_container__jB3HW .page_title_container__YjA46 h1 {
  margin: 0;
}
.page_section__gW6T3 .page_content_container__cv8Cg {
  border: 1px solid black;
  margin-top: 15px;
}
