/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/posts/PostPage.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PostPage_post_page__bxM5j {
  width: 100%;
  padding-bottom: 60px;
}
.PostPage_post_page__bxM5j .PostPage_background__9If69 {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(/_next/static/media/CategoryPageBg.d75823d2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.PostPage_post_page__bxM5j .PostPage_background__9If69 .PostPage_background_cover___iFvS {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.PostPage_post_page__bxM5j .PostPage_background__9If69 .PostPage_background_cover___iFvS .PostPage_post_title__SOpWT {
  width: 800px;
  height: auto;
}

@media screen and (max-width: 1512px) {
  .PostPage_post_title__SOpWT {
    width: 700px !important;
  }
}
@media screen and (max-width: 1000px) {
  .PostPage_post_title__SOpWT {
    width: 600px !important;
  }
}
@media screen and (max-width: 767px) {
  .PostPage_background__9If69 {
    border-radius: 0 !important;
  }
  .PostPage_post_title__SOpWT {
    width: 90vw !important;
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Post/AllPost/AllPosts.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AllPosts_all_post__yXPwI {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}
.AllPosts_all_post__yXPwI .AllPosts_postcard_container__zbxeV {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  grid-gap: 30px;
  gap: 30px;
  width: 80%;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/ClassificationText/ClassificationText.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ClassificationText_styled_underline__PcPff {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}
.ClassificationText_styled_underline__PcPff p {
  margin: 0;
}
.ClassificationText_styled_underline__PcPff .ClassificationText_underline_container__0C2Hx {
  display: flex;
  align-items: center;
  width: 320px;
}
.ClassificationText_styled_underline__PcPff .ClassificationText_underline_container__0C2Hx .ClassificationText_underline__Ys_BX {
  width: 100%;
  border-bottom: 1px solid darkblue;
}
.ClassificationText_styled_underline__PcPff .ClassificationText_underline_container__0C2Hx .ClassificationText_left_bar__KtBTm {
  width: 6px;
  height: 6px;
  background-color: darkblue;
}
.ClassificationText_styled_underline__PcPff .ClassificationText_underline_container__0C2Hx .ClassificationText_right_bar__3odsU {
  width: 6px;
  height: 6px;
  background-color: darkblue;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Post/PostCard/PostCard.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PostCard_post_card__gqqNr {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 500px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  transition: transform ease-in-out 0.2s;
}
.PostCard_post_card__gqqNr .PostCard_img__JvBoD {
  width: 350px;
  height: 220px;
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e {
  width: 300px;
  margin-top: 16px;
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e .PostCard_category___Eb16 {
  display: flex;
  gap: 8px;
  font-size: 16px;
  margin-bottom: 12px;
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e .PostCard_category___Eb16 div:nth-child(2) {
  background-color: rgba(0, 34, 255, 0.3);
  color: rgba(0, 34, 255, 0.8);
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e .PostCard_category___Eb16 div:nth-child(3) {
  background-color: rgba(144, 0, 255, 0.3);
  color: rgba(144, 0, 255, 0.8);
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e .PostCard_title__czxsS {
  width: 100%;
  height: 50px;
  margin: 0;
  margin-bottom: 16px;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e .PostCard_description__3_Nc1 {
  width: 100%;
  height: 80px;
  margin: 0;
  margin-bottom: 36px;
  font-size: 14px;
  color: darkgray;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.PostCard_post_card__gqqNr:hover {
  transform: scale(1.01);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/CategoryPill/CategoryPill.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CategoryPill_category__2utt9 {
  display: grid;
  place-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 10px;
  background-color: rgba(0, 170, 255, 0.3);
  color: rgba(0, 170, 255, 0.8);
  border-radius: 24px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/ProfileAndId/ProfileAndId.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ProfileAndId_info__9z_AU {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProfileAndId_info__9z_AU div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.ProfileAndId_info__9z_AU div .ProfileAndId_profile__Rv8AT {
  width: 50px;
  height: 50px;
  background-image: url(/_next/static/media/myself.e2bb6821.png);
  background-size: cover;
  border-radius: 50%;
}
.ProfileAndId_info__9z_AU div span {
  font-size: 16px;
}
.ProfileAndId_info__9z_AU div .ProfileAndId_sm_font__mnYLs {
  font-size: 14px;
}
.ProfileAndId_info__9z_AU .ProfileAndId_date__u68_N {
  font-size: 16px;
}
.ProfileAndId_info__9z_AU .ProfileAndId_sm_date__S_xgC {
  font-size: 14px;
}
