/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Categories/Categories.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Categories_div__CCqVF {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 139, 0.1);
  padding: 0 10px 10px 10px;
  margin-top: 30px;
}
.Categories_div__CCqVF h2 {
  font-size: 14px;
  padding: 0;
  color: darkblue;
}
.Categories_div__CCqVF ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  font-size: 11px;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 213);
  opacity: 0.5;
}
.Categories_div__CCqVF ul li {
  display: flex;
  align-items: center;
  width: 100px;
  height: 25px;
  padding-left: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.Categories_div__CCqVF ul li:hover {
  background-color: rgba(0, 0, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

.Categories_li__MkYrN {
  color: white;
  background-color: rgba(0, 0, 255, 0.6);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/PostCard/PostCard.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PostCard_link__8DwL0 {
  text-decoration: none;
  color: black;
}

.PostCard_img__TcOMi {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.PostCard_info_container__rt9mx {
  padding: 0 24px 18px 24px;
}
.PostCard_info_container__rt9mx div {
  display: flex;
  justify-content: space-between;
}
.PostCard_info_container__rt9mx span {
  font-size: 12px;
  color: gray;
}
.PostCard_info_container__rt9mx time {
  font-size: 12px;
  color: gray;
}
.PostCard_info_container__rt9mx h3 {
  font-size: 20px;
  margin: 5px 0;
}
.PostCard_info_container__rt9mx p {
  font-size: 14px;
  margin: 0;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/FilterablePosts/FilterablePosts.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.FilterablePosts_section__IY2Oh {
  display: flex;
  justify-content: space-between;
}

.FilterablePosts_ul__u_CDo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
}
.FilterablePosts_ul__u_CDo li {
  width: 380px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.1);
  box-shadow: 10px 12px 14px -3px rgba(0, 0, 0, 0.1);
}
.FilterablePosts_ul__u_CDo li:hover {
  box-shadow: 10px 12px 14px -3px rgba(0, 0, 0, 0.2);
}
