.postsContainer {
  width: 100%;
  padding: 0;
  margin-bottom: 100px;
}

.cardsContainer {
  display: flex;
  gap: 20px;
}

.card {
  flex-grow: 1;
  width: 330px;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 24px;
}

.card:hover {
  height: 305px;
  width: 335px;
  box-shadow: 10px 12px 14px -3px rgba(0, 0, 0, 0.3);
}
