.recent_posts {
  display: flex;
  flex-direction: column;

  .posts_container {
    border: 1px solid black;
    display: flex;

    div:first-child {
      border: 1px solid blue;
      width: 50%;
      height: 500px;
    }
  }
}
