.link {
  text-decoration: none;
  color: black;
}

.img {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.info_container {
  padding: 0 24px 18px 24px;

  div {
    display: flex;
    justify-content: space-between;
  }

  span {
    font-size: 12px;
    color: gray;
  }

  time {
    font-size: 12px;
    color: gray;
  }

  h3 {
    font-size: 20px;
    margin: 5px 0;
  }

  p {
    font-size: 14px;
    margin: 0;
  }
}
