.main_post {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 600px;
  border-radius: 24px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  transition: transform ease-in-out 0.2s;
  cursor: pointer;
  text-decoration: none;

  .img {
    width: 550px;
    height: 210px;
    object-fit: cover;
  }

  .content_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: black;
    padding: 24px;

    .title {
      margin: 12px 0;
      font-size: 32px;
    }

    .description {
      font-size: 12px;
      color: darkgray;
      margin-bottom: 12px;
    }

    .pill_container {
      display: flex;
      gap: 12px;
    }

    .pill_container div:nth-child(2) {
      background-color: rgba(0, 34, 255, 0.3);
      color: rgba(0, 34, 255, 0.8);
    }

    .pill_container div:nth-child(3) {
      background-color: rgba(144, 0, 255, 0.3);
      color: rgba(144, 0, 255, 0.8);
    }
  }

  div {
    h3,
    p {
      margin: 0;
    }
  }
}

.main_post:hover {
  transform: scale(1.005);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.3);
}

@media all and (max-width: 767px) {
  .main_post {
    max-width: none;
    width: 90%;
  }
}
