.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-size: 25px;
  background-color: rgba($color: #6cb4e7, $alpha: 0.1);
}

.main {
  margin: 90px 15rem 0;
  padding: 0 10rem;
  width: calc(100% - 50rem);
  background-color: #ffffff;
  border-radius: 18px;
}
