.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  // background-color: rgba($color: #e9edf9, $alpha: 1);
  font-size: 25px;
}

.main {
  // border: 1px solid black;
  flex-grow: 1;
  margin: 60px 450px 0;
}
