.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 100px);
  height: 60px;
  padding: 0 50px;
  z-index: 99;
}

.link {
  text-decoration: none;
  color: darkblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.logo {
  font-size: 30px;
  line-height: 36px;
}

.nav {
  display: flex;
  gap: 20px;
}
