/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/posts/[postPage]/slug.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.slug_article__32NG5 .slug_img_container__CEcJg {
  position: relative;
  width: 100%;
  height: 50vh;
}
.slug_article__32NG5 .slug_img_container__CEcJg .slug_bg_cover__84Ygi {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
  background-color: rgba(0, 0, 0, 0.6);
}
.slug_article__32NG5 .slug_img_container__CEcJg .slug_bg_cover__84Ygi p {
  margin: 0;
}
.slug_article__32NG5 .slug_img_container__CEcJg .slug_bg_cover__84Ygi span {
  border: 1px solid white;
  padding: 0 6px;
  display: flex;
}
.slug_article__32NG5 .slug_img_container__CEcJg .slug_bg_cover__84Ygi span > p {
  color: white;
}
.slug_article__32NG5 .slug_img_container__CEcJg .slug_img__6kSPa {
  width: 100%;
  height: 100%;
}
.slug_article__32NG5 .slug_posts_container__agVn3 {
  margin-bottom: 120px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Post/AllPost/AllPosts.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AllPosts_all_post__yXPwI {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}
.AllPosts_all_post__yXPwI .AllPosts_postcard_container__zbxeV {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  justify-content: center;
  grid-gap: 30px;
  gap: 30px;
  width: 80%;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/ClassificationText/ClassificationText.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ClassificationText_styled_underline__PcPff {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}
.ClassificationText_styled_underline__PcPff p {
  margin: 0;
}
.ClassificationText_styled_underline__PcPff .ClassificationText_underline_container__0C2Hx {
  display: flex;
  align-items: center;
  width: 320px;
}
.ClassificationText_styled_underline__PcPff .ClassificationText_underline_container__0C2Hx .ClassificationText_underline__Ys_BX {
  width: 100%;
  border-bottom: 1px solid darkblue;
}
.ClassificationText_styled_underline__PcPff .ClassificationText_underline_container__0C2Hx .ClassificationText_left_bar__KtBTm {
  width: 6px;
  height: 6px;
  background-color: darkblue;
}
.ClassificationText_styled_underline__PcPff .ClassificationText_underline_container__0C2Hx .ClassificationText_right_bar__3odsU {
  width: 6px;
  height: 6px;
  background-color: darkblue;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Post/PostCard/PostCard.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PostCard_post_card__gqqNr {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 450px;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  transition: transform ease-in-out 0.2s;
}
.PostCard_post_card__gqqNr .PostCard_img__JvBoD {
  width: 350px;
  height: 220px;
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e {
  width: 300px;
  margin-top: 16px;
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e .PostCard_category___Eb16 {
  font-size: 16px;
  margin-bottom: 12px;
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e .PostCard_title__czxsS {
  margin: 0;
  margin-bottom: 16px;
  font-size: 22px;
}
.PostCard_post_card__gqqNr .PostCard_contents_container__IxE_e .PostCard_description__3_Nc1 {
  height: 80px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  color: darkgray;
}

.PostCard_post_card__gqqNr:hover {
  transform: scale(1.01);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/CategoryPill/CategoryPill.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CategoryPill_category__2utt9 {
  display: grid;
  place-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-size: 10px;
  background-color: rgba(0, 170, 255, 0.3);
  color: rgba(0, 170, 255, 0.8);
  border-radius: 24px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/ProfileAndId/ProfileAndId.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ProfileAndId_info__9z_AU {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ProfileAndId_info__9z_AU div {
  display: flex;
  align-items: center;
  gap: 12px;
}
.ProfileAndId_info__9z_AU div .ProfileAndId_profile__Rv8AT {
  width: 50px;
  height: 50px;
  background-image: url(/_next/static/media/myself.e2bb6821.png);
  background-size: cover;
  border-radius: 50%;
}
.ProfileAndId_info__9z_AU div span {
  font-size: 16px;
}
.ProfileAndId_info__9z_AU div .ProfileAndId_sm_font__mnYLs {
  font-size: 14px;
}
.ProfileAndId_info__9z_AU .ProfileAndId_date__u68_N {
  font-size: 16px;
}
.ProfileAndId_info__9z_AU .ProfileAndId_sm_date__S_xgC {
  font-size: 14px;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Waves/Waves.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Waves_header__20ixi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: transparent;
}
.Waves_header__20ixi .Waves_waves__EV7gH {
  position: relative;
  width: 100%;
  height: 1vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}
.Waves_header__20ixi use {
  animation: Waves_move_forever__ZwCcM 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.Waves_header__20ixi use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.Waves_header__20ixi use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.Waves_header__20ixi use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.Waves_header__20ixi use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes Waves_move_forever__ZwCcM {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
