/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/posts/[slug]/slug.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.slug_article__aqLUb {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  font-size: 16px;
}
.slug_article__aqLUb h1 {
  margin-top: 100px;
}

.slug_img_frame__ohE18 {
  overflow: hidden;
  width: 90%;
  height: 380px;
  position: relative;
  border-radius: 24px;
}

.slug_img__7IQWF {
  width: 100%;
  height: 100%;
}

.slug_adjacent__fDA2O {
  display: flex;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/AdjacentPostCard/AdjacentPostCard.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AdjacentPostCard_link__sth3w {
  position: relative;
  display: flex;
  width: 100%;
}
.AdjacentPostCard_link__sth3w img {
  width: 100%;
}
.AdjacentPostCard_link__sth3w .AdjacentPostCard_info_frame__ZyTBV {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 100%;
}
.AdjacentPostCard_link__sth3w .AdjacentPostCard_info_frame__ZyTBV svg {
  width: 30px;
  height: 30px;
}
.AdjacentPostCard_link__sth3w .AdjacentPostCard_info_frame__ZyTBV div {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 90px;
}
.AdjacentPostCard_link__sth3w .AdjacentPostCard_info_frame__ZyTBV div h3 {
  margin: -5px 0 0;
  font-weight: bold;
  font-size: 24px;
}
.AdjacentPostCard_link__sth3w .AdjacentPostCard_info_frame__ZyTBV div p {
  font-size: 12px;
  margin: 0;
}

.AdjacentPostCard_background__JW6RW {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/PostContent/PostContent.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PostContent_section__Jh5_L {
  width: 90%;
}
.PostContent_section__Jh5_L img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.PostContent_section__Jh5_L h2 {
  border-bottom: 1.5px solid rgba(108, 180, 231, 0.7);
  padding-bottom: 12px;
  padding-left: 10px;
  margin: 80px 0 30px;
}

.PostContent_calendar__gzt1I {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
.PostContent_calendar__gzt1I p {
  font-size: 14px;
}

.PostContent_calendar_icon__BKPWf {
  width: 15px;
  height: 15px;
}
