/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/posts/[slug]/slug.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.slug_article__aqLUb .slug_img_container__NPsd9 {
  position: relative;
  width: 100%;
  height: 50vh;
}
.slug_article__aqLUb .slug_img__7IQWF {
  width: 100%;
  height: 100%;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Waves/Waves.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Waves_header__20ixi {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
}
.Waves_header__20ixi .Waves_waves__EV7gH {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}
.Waves_header__20ixi use {
  animation: Waves_move_forever__ZwCcM 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.Waves_header__20ixi use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.Waves_header__20ixi use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.Waves_header__20ixi use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.Waves_header__20ixi use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes Waves_move_forever__ZwCcM {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
