/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/Home/Home.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Home_section__Io06f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home_home_container__zzK7n {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: calc(100vh - 60px);
}

.Home_gif__YLeUw {
  width: 100%;
}

.Home_scroll_container__bNSBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.Home_arrow_animation__z39LS {
  height: 30px;
  width: 50px;
}

.Home_arrow__hY2zS {
  width: 100%;
  height: 40px;
  margin-top: -5px;
  animation: Home_arrowDown__ldwPG 1.5s infinite;
}

@keyframes Home_arrowDown__ldwPG {
  0% {
    margin-top: -5px;
  }
  50% {
    margin-top: 0;
  }
  100% {
    margin-top: -5px;
  }
}
