.nav_class {
  width: calc(100% - 24px);
  margin: 0 12px 60px;
  background-color: rgb(240, 247, 252);

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    font-size: 16px;
    margin: 10px 0;
    padding: 0 12px;
    border-radius: 8px;
    transition: background-color ease-in-out 0.3s;

    .caret {
      transition: transform ease-in-out 0.3s;
    }

    .active_caret {
      transform: rotate(90deg);
    }
  }

  .active_menu {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
}

.title:hover {
  background-color: rgba($color: #000000, $alpha: 0.1);

  .caret {
    transform: rotate(90deg);
  }
}
