@use "../../app/base.scss";

.nav_category {
  overflow: scroll;
  margin-top: 15px;

  .total {
    margin: 15px 20px 25px;
    font-size: 0.9rem;
    font-weight: 500;
    color: base.$header-total-color;
  }

  .btn_container {
    width: calc(100% - 24px);
    margin: 0 12px 60px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 42px;
      font-size: 18px;
      margin: 10px 0;
      padding: 0 12px;
      border-bottom: 1px solid base.$light-gray;
      border-radius: 8px;
      transition: background-color ease-in-out 0.3s;

      .caret {
        transition: transform ease-in-out 0.3s;
      }

      .changed_caret {
        transform: rotate(90deg);
      }
    }

    .title:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);

      .caret {
        transform: rotate(90deg);
      }
    }

    .menus_animation {
      animation: menu_animation_keyframe 0.4s ease-in-out;
      overflow: hidden;
    }

    @keyframes menu_animation_keyframe {
      0% {
        // transform: translateY(-100%);
        height: 0;
      }

      100% {
        // transform: translateY(0);
        height: fit-content;
      }
    }

    .open_category_btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 50px;
      padding-left: 16px;
      background-color: transparent;
      border: none;
      border-radius: 12px;
      transition: background-color ease-in-out 0.3s;

      div {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .caret {
        transition: transform ease-in-out 0.3s;
      }
    }

    .open_category_btn:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);

      .caret {
        transform: translateX(4px);
      }
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }
}
