@use "../../app/base.scss";

.nav_category {
  overflow: scroll;
  margin-top: 15px;
  font-family: "Open Sans";
}

// 테블릿 (맥북 해상도 이하)
@media screen and (max-width: 1512px) {
  .nav_category {
    margin: 0;
    height: 100%;
  }
}
