.categorized_post_page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .img_container {
    position: relative;
    width: 100%;
    height: 50vh;

    .bg_cover {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 36px;
      background-color: rgba($color: #000000, $alpha: 0.6);

      .bg_cover_title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
      }

      .bg_cover_title > p {
        color: white;
        font-family: "Times New Roman", Times, serif;
      }

      .category {
        font-size: 18px;
        color: white;
        border: 1px solid white;
        padding: 3px 6px;
        border-radius: 8px;
      }

      .bg_cover_date {
        display: flex;
        align-items: center;
        gap: 15px;

        .date {
          font-size: 16px;
          color: white;
        }
      }
    }

    .bg_img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }

  .content_container {
    width: 860px;
    margin-top: 200px;
    margin-bottom: 120px;
  }
}

@media all and (max-width: 767px) {
  .content_container {
    width: 767px !important;
    padding: 0 25px;
  }
}
