.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  h2 {
    margin: -100px 0 0;
    text-align: center;
    font-size: 55px;
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    font-weight: 300;
    color: darkblue;
    opacity: 0.5;
  }
}
