/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/about/page.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_about_page__w7rBF {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.page_about_page__w7rBF p:first-child {
  font-size: 42px;
  font-weight: bold;
  margin: 200px 0 0;
}
.page_about_page__w7rBF p:nth-child(2) {
  font-size: 22px;
  margin-top: 40px;
}
.page_about_page__w7rBF .page_developer__VXLbm {
  margin: 36px 0 0;
}
.page_about_page__w7rBF .page_walking_dog_container__iOk52 {
  position: relative;
  width: 100%;
  height: 100%;
  animation: page_moveRightDog__c8a7F 5s linear infinite;
}
.page_about_page__w7rBF .page_walking_dog_container__iOk52 .page_bubble__5UKHZ {
  position: absolute;
  top: 250px;
  left: 450px;
  z-index: 99;
}
.page_about_page__w7rBF .page_walking_dog_container__iOk52 .page_dog__KcbXo {
  position: absolute;
  top: 320px;
  left: 0;
  width: 600px;
  height: 450px;
}

.page_link_page__5eSO9 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  gap: 30px;
}
.page_link_page__5eSO9 .page_laon__0Nfiz {
  width: 40%;
  height: 100%;
  object-fit: cover;
}
.page_link_page__5eSO9 .page_content_container__a9wCJ {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
}

@keyframes page_moveRightDog__c8a7F {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(120%);
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/About/TextButton.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TextButton_text_button_container__K9T_o {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 5px;
  gap: 2px;
}
.TextButton_text_button_container__K9T_o .TextButton_dots__pvWbB {
  width: 10px;
  height: 100% !important;
  color: rgba(0, 0, 0, 0.2) !important;
  padding: 0 3px;
}
.TextButton_text_button_container__K9T_o .TextButton_content_container__JmxKf {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 1px 4px 1px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.TextButton_text_button_container__K9T_o .TextButton_icon__r7pxW {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  padding-bottom: 6px;
}
.TextButton_text_button_container__K9T_o .TextButton_title__UFcq6 {
  font-size: 16px;
  line-height: 1.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.TextButton_content_container__JmxKf:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.TextButton_dots__pvWbB:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
