/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/AboutButton/AboutButton.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AboutButton_link__m4R57,
.AboutButton_email___lDKY {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: darkblue;
  text-decoration: none;
  border-radius: 28px;
}

.AboutButton_github__cwjxv,
.AboutButton_email_logo__LETdj {
  width: 30px;
  height: 30px;
}

.AboutButton_check_logo__DulIj {
  width: 30px;
  height: 30px;
}

.AboutButton_email___lDKY {
  font-size: 16px;
  font-family: inherit;
  background-color: rgb(9, 75, 162);
  border: 0px;
  cursor: pointer;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/MyProfile/MyProfile.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MyProfile_section__v9j8I {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

.MyProfile_profileImg__Rcpws {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.MyProfile_name__5mMHP {
  margin: 20px;
}

.MyProfile_position__IzbvC {
  margin: 0;
  margin-bottom: -10px;
}

.MyProfile_link_container__yG_F_ {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 500px;
  margin-top: 15px;
}

.MyProfile_link__mfPFz,
.MyProfile_email__AJrbM {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: darkblue;
  text-decoration: none;
  border-radius: 28px;
}

.MyProfile_github__O2z_e,
.MyProfile_email_logo__wxhlS {
  width: 30px;
  height: 30px;
}

.MyProfile_check_logo__QxF5e {
  width: 30px;
  height: 30px;
}

.MyProfile_email__AJrbM {
  font-size: 16px;
  font-family: inherit;
  background-color: rgb(9, 75, 162);
  border: 0px;
  cursor: pointer;
}
