/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/About/AboutButton/AboutButton.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AboutButton_link__oieeE,
.AboutButton_email__qFOyv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: darkblue;
  text-decoration: none;
  border-radius: 28px;
}

.AboutButton_link__oieeE span {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.AboutButton_github__Fouvh,
.AboutButton_email_logo__ni_Xa {
  width: 30px;
  height: 30px;
}

.AboutButton_check_logo__5LUuT {
  width: 30px;
  height: 30px;
}

.AboutButton_email__qFOyv {
  background-color: rgb(9, 75, 162);
  border: 0px;
  cursor: pointer;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/About/MyProfile/MyProfile.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.MyProfile_section__DbBfb {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

.MyProfile_profileImg__U7H9x {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.MyProfile_name__9BKeV {
  margin: 20px;
  font-size: 2.22rem;
}

.MyProfile_position__0Sp_7 {
  margin: 0;
  margin-bottom: -10px;
}

.MyProfile_link_container__eiRzK {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 500px;
  margin-top: 15px;
}

.MyProfile_link__o4MTl,
.MyProfile_email__0MGw3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 200px;
  height: 50px;
  color: white;
  background-color: darkblue;
  text-decoration: none;
  border-radius: 28px;
}

.MyProfile_github__2qgn_,
.MyProfile_email_logo__7LJp2 {
  width: 30px;
  height: 30px;
}

.MyProfile_check_logo__3NeGo {
  width: 30px;
  height: 30px;
}

.MyProfile_email__0MGw3 {
  font-size: 16px;
  font-family: inherit;
  background-color: rgb(9, 75, 162);
  border: 0px;
  cursor: pointer;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/About/FeaturedPosts/PostGrid.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PostGrid_section__d9ETB {
  width: 100%;
}
.PostGrid_section__d9ETB .PostGrid_section_title__SbdJM {
  margin-left: 1rem;
}

.PostGrid_ul__M04p9 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
}
.PostGrid_ul__M04p9 li {
  width: 380px;
  border-radius: 20px;
  background-color: #f4f4f4;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/PostCard/PostCard.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PostCard_link__8DwL0 {
  text-decoration: none;
  color: black;
}

.PostCard_img__TcOMi {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.PostCard_info_container__rt9mx {
  padding: 0 24px 18px 24px;
}
.PostCard_info_container__rt9mx div {
  display: flex;
  justify-content: space-between;
}
.PostCard_info_container__rt9mx span {
  font-size: 12px;
  color: gray;
}
.PostCard_info_container__rt9mx time {
  font-size: 12px;
  color: gray;
}
.PostCard_info_container__rt9mx h3 {
  font-size: 20px;
  margin: 5px 0;
}
.PostCard_info_container__rt9mx p {
  font-size: 14px;
  margin: 0;
}
